.container {
  
  max-width: 360px;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: 81px;
}

.card {
  background-color: white;
  border-radius: 12px;
  
  
}


.backButton {
  display: inline-block;
  color: #6b7280;
  text-decoration: none;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.backButton:hover {
  color: #111827;
}

.title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #111827;
  margin: 0;
}

.infoText{
  font-size: 0.875rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.loading {
  text-align: center;
  padding: 3rem;
  color: #6b7280;
}

.empty {
  text-align: center;
  padding: 3rem 1rem;
}

.emptyIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.emptyText {
  color: #6b7280;
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.emptyButton {
  display: inline-block;
  padding: 0.875rem 1.5rem;
  background-color: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.item {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 1rem;
  transition: box-shadow 0.2s;
}



.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #f3f4f6;
}

.productName {
  font-weight: bold;
  color: #111827;
  font-size: 1.125rem;
}

.statusBadge {
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 500;
  
  background-color: transparent;
  color: inherit;
}


.statusBadgeSuccess {
  
  color: #000000;
}


.statusBadgeDefault {
  
  color: #000000;
}


.statusBadgeCancelled {
  
  color: #f60000;
}

.itemBody {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.itemInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  color: #6b7280;
  font-size: 0.875rem;
}

.value {
  color: #374151;
  font-size: 0.875rem;
  margin-right: 10px;
}

.amount {
  color: #0070f3;
  font-weight: bold;
  font-size: 1.125rem;
}

.copyBtn {
  background: none;
  border: 1px solid #e5e7eb;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.875rem;
  cursor: pointer;
  color: #374151;
}
.copyBtn:hover {
  background: #f3f4f6;
}

.footer {
  margin-top: 2rem;
}

.infoBox {
  background-color: #f9fafb;
  border-radius: 8px;
  padding: 1rem;
}

.infoTitle {
  font-size: 1rem;
  font-weight: bold;
  color: #111827;
  margin-bottom: 0.75rem;
}

.infoText {
  font-size: 0.875rem;
  color: #6b7280;
  margin: 0.25rem 0;
}
